apiVersion: v1
kind: PersistentVolume
metadata:
  name: registry-pv
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteMany
  nfs:
    path: {{ registry_path }}
    server: {{ nfs_server }}
  persistentVolumeReclaimPolicy: Retain
